@import "tailwindcss";

body{
  margin: 0;
  overflow-x: hidden;
}


.fade-in {
   opacity: 0;
   transform: translateY(80px);
   transition: all 0.8s;
   transition-timing-function: var(--ease-out);

}

.show {
  opacity: 1;
  transform: translateY(0);
}